.links-leonardo-dantas {
    text-decoration: none;
}

.container-geral-leonardo-dantas {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#a734d2, #ff7581);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-leonardo-dantas {
  width: 540px;
  background-color: rgba(167, 52, 210, .5);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.profile-img {
  width: 120px;
  border-radius: 50%;
  border: #a734d2 5px solid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: translateY(-65px);
}

.container-text-leonardo-dantas {
  margin-top: -40px;
}

.apresentacao-leonardo-dantas {
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #FFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.apresentacao-profissional-leonardo-dantas {
  font-weight: 400;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #FFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.socials-leonardo-dantas {
  margin: 30px 0;
}

.socials-leonardo-dantas a {
  margin-right: 40px;
}

.socials a:last-child {
  margin-right: 0;
}

.socials-leonardo-dantas img {
  width: 48px;
  transition: all .3s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
}

.socials-leonardo-dantas img:hover {
  transform: scale(110%);
}

.socials-leonardo-dantas img:active {
  transform: scale(103%);
}
